@import url("bootstrap");

img{
    max-width: 100%;
    max-height: 100%;
}

header{

    img{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    a{
        text-decoration: none;
        color: black;
        font-size: 0.75rem;
        font-weight: 500;
                
    &.active{
        border-bottom: 5px solid rgb(0, 110, 255);

        }
    
    }
    
}

main{
    background-color: rgba(0, 0, 0, 0.877);
    display:flex;
    flex-direction: column;
    
    p{
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-weight: 500;
        
        h1{
            color: crimson;
        }
            
        h2{
            color: crimson;
        }

    }

    .blueBar{
        
        background-color: rgb(0, 119, 255);
        
        .figure_img{
          max-width: 20%;
          max-height: 20%;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }

        button{
            color: rgb(255, 255, 255);
            font-size: 1rem;
            font-weight:100;
            background: none;
            border: none;
            cursor: pointer;
        }        

    }
    
}

footer{
    background-image: url(/public/dc-logo-bg.png);
    background-image: url(/public/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    h3{
        color:white;
        font-size: small;
        margin-top: 1.5rem;
    }
                
    li{
        list-style: none;
    }
    
    a{
        text-decoration: none;
        color: grey;
        font-size: 0.75rem;
    }
    
    .social{
        background-color: rgb(59, 58, 58);
        max-width: 100%;
        max-height: 100%;
        
        .btn{
            border:2px solid rgb(0, 110, 255);
            border-radius: 0%;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }

        .app{
            width: 100%; 
        }
        
        
        img{
            margin-right: 0.75rem;
            margin-left: 0.75rem;
        }
            
        .follow{
            color: rgb(0, 110, 225);
            font-size: large;
            font-weight: 700;
            margin-right: 0.75rem;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
    
        }

    }
    
}